// customize bootstrap variables here:

@import "variables";
@import "bootstrap";
//@import "CSS:theme/css/bootstrap.min";

@import "CSS:theme/css/ace";
//@import "CSS:theme/font-awesome/4.0.3/css/font-awesome.min.css";
@import "CSS:theme/css/ace-skins";
@import "CSS:theme/css/ace-rtl.min";
@import "CSS:theme/css/chosen";
@import "CSS:theme/css/colorbox";
@import "CSS:theme/css/colorpicker";
@import "CSS:theme/css/datepicker";
@import "CSS:theme/css/daterangepicker";
@import "CSS:theme/css/jquery-ui.min";
@import "CSS:theme/css/bootstrap-datetimepicker";
@import "CSS:theme/css/bootstrap-editable";
@import "CSS:theme/css/bootstrap-timepicker";
@import "CSS:theme/css/dropzone";
@import "CSS:theme/css/fullcalendar";
@import "CSS:theme/css/jquery.gritter";
@import "CSS:theme/css/jquery-ui.custom.min";
@import "CSS:theme/css/prettify";
@import "CSS:theme/css/select2";
@import "CSS:theme/css/ui.jqgrid";


.lims_header{
	@extend .navbar;
	height: 50px;
}
html{
	font-family: monospace, monospace;
}

.my-form-info{
	@extend .profile-user-info;
	padding:0px;
	margin:0px;
}

.my-form-info-striped{
	@extend .profile-user-info-striped;
	padding:0px;
	margin:0px;
	width: 97%;
}

.my-form-info-row{
	@extend .profile-info-row
}
.my-form-info-name{
	@extend .profile-info-name;
	width:43%;
}
.my-form-info-value{
	@extend .profile-info-value
}

.my-infobox{
	@extend .infobox;
	padding:8px;	
	width:100%;
	height: initial;
	margin:1px;
}

.my-no-margin-padding{
	
	padding:0px;
	margin:0px;
}


